<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.psjj.wy.web.house.mapper.HouseListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.gzk.wy.web.house.entity.HouseList">
        <id column="house_id" property="houseId" />
        <result column="unit_id" property="unitId" />
        <result column="house_num" property="houseNum" />
        <result column="house_area" property="houseArea" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        house_id, unit_id, house_num, house_area, status, deleted, create_time, update_time
    </sql>
    <select id="getList" resultType="top.gzk.wy.web.house.entity.HouseList">
        select hb.build_id,hb.build_name,hu.unit_name,hl.* from
        house_list as hl,house_unit as hu,house_build as hb
        <where>
            hl.unit_id=hu.unit_id and hu.build_id=hb.build_id
            <if test="buildName!=null and buildName!=''">
                and hb.build_name like concat('%',#{buildName},'%')
            </if>
            <if test="unitName!=null and unitName!=''">
                and hu.unit_name like concat('%',#{unitName},'%')
            </if>
            <if test="houseNum!=null and houseNum!=''">
                and hl.house_num like concat('%',#{houseNum},'%')
            </if>
            <if test="status!=null">
                and hl.status =#{status}
            </if>
            and hb.deleted=1 and hu.deleted=1 and hl.deleted=1
        </where>

    </select>
</mapper>
